<div class="container">
    <div class="row justify-content-center my-5 text-center">
        <div class="col-md-12">
                <h1 class="text-primary"><span class="text-success ">Check</span> Out`</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <div class="card ">
                <div class="card-body ">
                    <div class="card-title text-center">
                        <h3 class="bg-success text-info my-2 p-2">Add Shipping Address</h3>
                    </div>
                    <div class="card-text">
                        <form action="" [formGroup]="checkOutForm" (submit)="orderNow()">
                       <div class="row justify-content-center mt-3">
                            <div class="col-10 my-2">
                                <input type="text" class="form-control" name="email" formControlName="email" placeholder=" Enter User Email">
                            </div>
                            <div class="col-10 my-2">
                                <input type="text" class="form-control" name="address" formControlName="address" placeholder=" Enter User Address">
                            </div>
                            <div class="col-10 my-2">
                                <input type="text" class="form-control" name="contact" formControlName="contact" placeholder=" Enter Contact Details">
                            </div>
                            <div class="col-6 mt-4">
                                <button class="btn btn-outline-secondary w-100">Order Now</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <h3 class="my-5"> Total Payable Amount : {{totalPrice  | currency:'INR'}}</h3>
            <h4 class="my-5">Payment Method : <b>Pay on delivery</b></h4>
        </div>
    </div>
</div>